# Sishir Yeety Capstone 1

In [37]:
import xlrd
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm 
import matplotlib.pyplot as plt 
import pandas as pd
import time
import seaborn as sns
from datetime import datetime

In [146]:
basic_df = pd.read_excel("basic.xlsx")
advanced_df = pd.read_excel('advanced.xlsx')

In [147]:
basic_df.head()

,#,Season Start,Player Name,Player Salary in $,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,8035.0,1986.0,A.C. Green,NaN,PF,22.0,LAL,82.0,1.0,1542.0,...,0.611,160.0,221.0,381.0,54.0,49.0,49.0,99.0,229.0,521.0
1,8420.0,1987.0,A.C. Green,NaN,PF,23.0,LAL,79.0,72.0,2240.0,...,0.780,210.0,405.0,615.0,84.0,70.0,80.0,102.0,171.0,852.0
2,8807.0,1988.0,A.C. Green,NaN,PF,24.0,LAL,82.0,64.0,2636.0,...,0.773,245.0,465.0,710.0,93.0,87.0,45.0,120.0,204.0,937.0
3,9242.0,1989.0,A.C. Green,NaN,PF,25.0,LAL,82.0,82.0,2510.0,...,0.786,258.0,481.0,739.0,103.0,94.0,55.0,119.0,172.0,1088.0
4,9688.0,1990.0,A.C. Green,1750000,PF,26.0,LAL,82.0,82.0,2709.0,...,0.751,262.0,450.0,712.0,90.0,66.0,50.0,116.0,207.0,1061.0

In [148]:
advanced_df.head()

,year,tm,player,age,g,mp,per,ts,3par,ftr,...,d_worp,adjusted_worp,estimated_position,bbref_pos,age_on_feb_1,yrs_experience,height,weight,rounded_position,rounded_age
0,1978,NOJ,Truck Robinson,26,82,3638,15.7,0.481,NaN,0.340,...,1.1,1.1,3.6,4.0,26.33,3.0,79.0,225.0,4.0,26.0
1,1978,BUF,Randy Smith,29,82,3314,19.1,0.521,NaN,0.326,...,-2.3,7.4,1.0,2.0,29.14,6.0,75.0,180.0,1.0,29.0
2,1978,WSB,Elvin Hayes,32,81,3246,17.1,0.489,NaN,0.365,...,3.4,6.5,4.2,4.0,32.21,9.0,81.0,235.0,4.0,32.0
3,1978,BOS,Dave Cowens,29,77,3215,18.6,0.533,NaN,0.233,...,6.1,12.5,3.9,5.0,29.27,7.0,81.0,230.0,4.0,29.0
4,1978,NYK,Bob McAdoo,26,79,3182,22.0,0.567,NaN,0.412,...,2.6,10.6,3.6,5.0,26.36,5.0,81.0,210.0,4.0,26.0

In [149]:
# Let's wrangle the basic statistics first!

# get rid of all players before 2008
basic_df = basic_df[basic_df['Season Start'] >= 2008]

basic_df['Season Start'].unique()

array([2017., 2010., 2011., 2012., 2013., 2014., 2015., 2008., 2009.,
       2016.])

In [150]:
basic_df.head()

,#,Season Start,Player Name,Player Salary in $,Pos,Age,Tm,G,GS,MP,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24,24304.0,2017.0,A.J. Hammons,1312611,C,24.0,DAL,22.0,0.0,163.0,...,0.450,8.0,28.0,36.0,4.0,1.0,13.0,10.0,21.0,48.0
25,20357.0,2010.0,A.J. Price,762195,PG,23.0,IND,56.0,2.0,865.0,...,0.800,12.0,76.0,88.0,106.0,35.0,3.0,59.0,53.0,410.0
26,20966.0,2011.0,A.J. Price,854389,PG,24.0,IND,50.0,0.0,795.0,...,0.667,16.0,56.0,72.0,111.0,29.0,1.0,53.0,61.0,323.0
27,21529.0,2012.0,A.J. Price,885120,PG,25.0,IND,44.0,1.0,568.0,...,0.800,13.0,48.0,61.0,86.0,20.0,2.0,32.0,30.0,172.0
28,22100.0,2013.0,A.J. Price,NaN,PG,26.0,WAS,57.0,22.0,1278.0,...,0.790,20.0,94.0,114.0,205.0,33.0,3.0,64.0,73.0,441.0

In [151]:
basic_df['blank2'].unique()

array([nan])

In [152]:
basic_df.columns

Index(['#', 'Season Start', 'Player Name', 'Player Salary in $', 'Pos', 'Age',
       'Tm', 'G', 'GS', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%',
       'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS',
       'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [153]:
basic_df = basic_df.drop(['blank2', '#'], axis=1)

In [154]:
basic_df.columns

Index(['Season Start', 'Player Name', 'Player Salary in $', 'Pos', 'Age', 'Tm',
       'G', 'GS', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS',
       'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [155]:
basic_df = basic_df.drop(['blanl'], axis=1)

In [156]:
basic_df.columns

Index(['Season Start', 'Player Name', 'Player Salary in $', 'Pos', 'Age', 'Tm',
       'G', 'GS', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [157]:
basic_df[basic_df['Player Name'] == 'LeBron James']

# I see some NaN here and there

,Season Start,Player Name,Player Salary in $,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
14939,2008.0,LeBron James,14410581,SF,23.0,CLE,75.0,74.0,3027.0,29.1,...,0.712,133.0,459.0,592.0,539.0,138.0,81.0,255.0,165.0,2250.0
14940,2009.0,LeBron James,15779912,SF,24.0,CLE,81.0,81.0,3054.0,31.7,...,0.780,106.0,507.0,613.0,587.0,137.0,93.0,241.0,139.0,2304.0
14941,2010.0,LeBron James,NaN,SF,25.0,CLE,76.0,76.0,2966.0,31.1,...,0.767,71.0,483.0,554.0,651.0,125.0,77.0,261.0,119.0,2258.0
14942,2011.0,LeBron James,16022500,SF,26.0,MIA,79.0,79.0,3063.0,27.3,...,0.759,80.0,510.0,590.0,554.0,124.0,50.0,284.0,163.0,2111.0
14943,2012.0,LeBron James,17545000,SF,27.0,MIA,62.0,62.0,2326.0,30.7,...,0.771,94.0,398.0,492.0,387.0,115.0,50.0,213.0,96.0,1683.0
14944,2013.0,LeBron James,19067500,PF,28.0,MIA,76.0,76.0,2877.0,31.6,...,0.753,97.0,513.0,610.0,551.0,129.0,67.0,226.0,110.0,2036.0
14945,2014.0,LeBron James,20644400,PF,29.0,MIA,77.0,77.0,2902.0,29.3,...,0.750,81.0,452.0,533.0,488.0,121.0,26.0,270.0,126.0,2089.0
14946,2015.0,LeBron James,22971000,SF,30.0,CLE,69.0,69.0,2493.0,25.9,...,0.710,51.0,365.0,416.0,511.0,109.0,49.0,272.0,135.0,1743.0
14947,2016.0,LeBron James,30963450,SF,31.0,CLE,76.0,76.0,2709.0,27.5,...,0.731,111.0,454.0,565.0,514.0,104.0,49.0,249.0,143.0,1920.0
14948,2017.0,LeBron James,33285709,SF,32.0,CLE,74.0,74.0,2794.0,27.0,...,0.674,97.0,543.0,640.0,646.0,92.0,44.0,303.0,134.0,1954.0

In [158]:
advanced_df = advanced_df[advanced_df['year'] >= 2008]

advanced_df.head()

,year,tm,player,age,g,mp,per,ts,3par,ftr,...,d_worp,adjusted_worp,estimated_position,bbref_pos,age_on_feb_1,yrs_experience,height,weight,rounded_position,rounded_age
12605,2008,DEN,Allen Iverson,32,82,3424,20.9,0.567,0.177,0.512,...,-3.7,7.0,1.0,2.0,32.66,11.0,72.0,165.0,1.0,33.0
12606,2008,ATL,Joe Johnson,26,82,3343,17.3,0.535,0.297,0.253,...,-3.7,6.2,2.5,2.0,26.59,6.0,79.0,240.0,3.0,27.0
12607,2008,PHI,Andre Iguodala,24,82,3242,19.0,0.543,0.240,0.396,...,3.9,12.4,2.2,3.0,24.01,3.0,78.0,207.0,2.0,24.0
12608,2008,NJN,Richard Jefferson,27,82,3200,17.4,0.571,0.160,0.511,...,-3.7,3.2,2.5,3.0,27.61,6.0,79.0,222.0,3.0,28.0
12609,2008,GSW,Baron Davis,28,82,3196,19.8,0.523,0.344,0.278,...,0.3,11.0,1.3,1.0,28.81,8.0,75.0,209.0,1.0,29.0

In [159]:
# make columns easier

basic_df.columns = basic_df.columns.str.replace(' ', '_')

In [160]:
basic_df = basic_df.rename(columns={'Season_Start':'year', 'Player_Name':'name', 
                                    'Player_Salary_in_$':'salary'})

# change salary back to float64
basic_df['salary'] = basic_df['salary'].apply(pd.to_numeric)

In [164]:
# Average Salary by year
basic_df.groupby('year').salary.mean()

year
2008.0    5.132801e+06
2009.0    4.947311e+06
2010.0    4.843674e+06
2011.0    5.047860e+06
2012.0    4.933904e+06
2013.0    4.785782e+06
2014.0    4.448235e+06
2015.0    5.045022e+06
2016.0    6.350269e+06
2017.0    7.220413e+06
Name: salary, dtype: float64